@import "tailwindcss";

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fadeDown 2s ease-in-out; /* Longer duration for smooth effect */
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeRight 2s ease-in-out forwards;
}

.fade-in-left {
  animation: fadeLeft 2s ease-in-out forwards;
}

.blur-background {
  backdrop-filter: blur(25px);
  background:rgba(255,255,255,0.7);
  /* z-index:10; */
  border: 1px solid rgba(255,255,255,0.7);
  box-shadow: -15px 17px 17px rgba(10,10,10,0.25)

}